{% extends "user/base.html" %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            placeholder: '내용을 입력해주세요.',
            height: 500,
            minHeight: 500,
            maxHeight: 500,
            lang: 'ko-KR',

            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        })
        $('p').css('margin-bottom', '0')
        $('.note-resizebar').css('display', 'none');
    })
</script>
<script type="text/javascript">
    var chectUnload = true;
    $(window).on('beforeunload', function () {
        if (chectUnload) return "이페이지를 나가면 작성된 내용은 저장되지 않습니다."
    })
    $('#write').on("click", function () {
        checkUnload = false;
        $("submit").submit();
    });
</script>
{% block contents %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                {{ form.title }}
            </div>
            <div>
                {{ form.content }}
            </div>
        </div>

        <div class="text-right">
            <label>
                {{ form.top_fixed }}
                <span>상단에 표시하기</span>
            </label>
            <button type="submit" id="write" class="btn btn-sm">작성하기</button>
        </div>
    </form>
{% endblock %}